*{
    position: relative;
    box-sizing: border-box;
}

img{
    height: 150px;
    width: 100px;
    float: left;
}

.hero{
    position: absolute;
    left: 0;
}

.enemy{
    top: 250px;
}

.defender{
    top: 500px;
}

.row{
    margin-top: 15px;
}

