*{
    position: relative;
    box-sizing: border-box;
}

body{
    background-image: url("../images/take4-background.jpg")
}

img{
    height: 150px;
    width: 100px;
    float: left;
}

h4{
    text-align: center;
    width: 100%;
}

.hero{
    position: absolute;
    left: 0;
}

.enemy{
    top: 250px;
    float: left;
}

.defender{
    top: 500px;
    position: absolute;
    left: 0;
}

.row{
    margin-top: 15px;
}

